---
import type { HeroProps } from "@types";
type Props = HeroProps;

const { team } = Astro.props;
---

<section class="mx-24 py-24 md:mx-18 md:py-32" id="#hero">
  <h1 class="max-w-4xl b-1.5 font-serif text-6xl font-bold tracking-tightest text-black sm:text-8xl md:mb-0 md:text-9xl">
    {team}
  </h1>

  <p class="mb-9 font-serif text-4xl leading-[46px] font-bold tracking-tighter text-primary sm:text-5xl md:text-6xl">
    
  </p>

  <p class="mb-16 text-base font-normal text-black md:text-lg">
    
  </p>

</section>
