---
import type { SectionProps } from '@types'
type Props = SectionProps

const {title, content} = Astro.props
---

<!-- Default Content Display "Section" Component -->

<section class="p-15 bg-idk">
  <div class="container">
    <h2 class="text-5xl font-serif font-bold text-white">
      {title}
    </h2>
    <p class="mb-9 font-serif text-base text-white">
      {content}
    </p>
  </div>
</section>