---
import '../styles/global.css'
import Navbar from "../components/Nav.astro";
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/images/wwlogo.png" /> 
		<!-- CHANGE ICON TO PROPER ASPECT RATIO -->
		<meta name="generator" content={Astro.generator} />
		<title>Western Wave Robotics</title>
	</head>
	<body class="min-h-screen bg-gray-50">
    <Navbar />
	</body>
</html>



